OriginalCSVs/2023_07_divvy_tripdata.csv
OriginalCSVs/2023_08_divvy_tripdata.csv
OriginalCSVs/2023_09_divvy_tripdata.csv
OriginalCSVs/2023_10_divvy_tripdata.csv
OriginalCSVs/2023_11_divvy_tripdata.csv
OriginalCSVs/2023_12_divvy_tripdata.csv
OriginalCSVs/2024_01_divvy_tripdata.csv
OriginalCSVs/2024_02_divvy_tripdata.csv
OriginalCSVs/2024_03_divvy_tripdata.csv
OriginalCSVs/2024_04_divvy_tripdata.csv
OriginalCSVs/2024_05_divvy_tripdata.csv
OriginalCSVs/2024_06_divvy_tripdata.csv
OriginalCSVs/2024_07_divvy_tripdata.csv
OriginalCSVs/2024_08_divvy_tripdata.csv
OriginalDownloadedData/202307-divvy-tripdata.zip
OriginalDownloadedData/202308-divvy-tripdata.zip
OriginalDownloadedData/202309-divvy-tripdata.zip
OriginalDownloadedData/202310-divvy-tripdata.zip
OriginalDownloadedData/202311-divvy-tripdata.zip
OriginalDownloadedData/202312-divvy-tripdata.zip
OriginalDownloadedData/202401-divvy-tripdata.zip
OriginalDownloadedData/202402-divvy-tripdata.zip
OriginalDownloadedData/202403-divvy-tripdata.zip
OriginalDownloadedData/202404-divvy-tripdata.zip
OriginalDownloadedData/202405-divvy-tripdata.zip
OriginalDownloadedData/202406-divvy-tripdata.zip
OriginalDownloadedData/202407-divvy-tripdata.zip
OriginalDownloadedData/202408-divvy-tripdata.zip
OriginalDownloadedData/202307-divvy-tripdata/202307-divvy-tripdata.csv
OriginalDownloadedData/202308-divvy-tripdata/202308-divvy-tripdata.csv
OriginalDownloadedData/202309-divvy-tripdata/202309-divvy-tripdata.csv
OriginalDownloadedData/202310-divvy-tripdata/202310-divvy-tripdata.csv
OriginalDownloadedData/202311-divvy-tripdata/202311-divvy-tripdata.csv
OriginalDownloadedData/202312-divvy-tripdata/202312-divvy-tripdata.csv
OriginalDownloadedData/202401-divvy-tripdata/202401-divvy-tripdata.csv
OriginalDownloadedData/202402-divvy-tripdata/202402-divvy-tripdata.csv
OriginalDownloadedData/202403-divvy-tripdata/202403-divvy-tripdata.csv
OriginalDownloadedData/202404-divvy-tripdata/202404-divvy-tripdata.csv
OriginalDownloadedData/202405-divvy-tripdata/202405-divvy-tripdata.csv
OriginalDownloadedData/202406-divvy-tripdata/202406-divvy-tripdata.csv
OriginalDownloadedData/202407-divvy-tripdata/202407-divvy-tripdata.csv
OriginalDownloadedData/202408-divvy-tripdata/202408-divvy-tripdata.csv
TableCreateAndLoad/join_tables.sql
TableCreateAndLoad/create_tables.sql
